

$color-primary-0: #1DE9B6;
$color-primary-1: #1DC5E9;
$color-secondary-0: #A389D4;
$color-secondary-1: #899FD4;

$color-danger-0: #fa2f31;
$color-danger-1: #fa5457;
$color-info-0: #04A9F5;
$color-info-1: #049DF5;
$color-warning-0: #f8c51c;
$color-warning-1: #f8ab1c;
$color-warning-2: #fccf3d;

$color-body-bg: #f9f9f9;


// Greyscale
$color-grey-0: #ffffff;
$color-grey-1: #ECEDEF;
$color-grey-2: #EBEBEB;
$color-grey-3: rgb(197, 205, 214);
$color-grey-4: #AAAEB3;
$color-grey-5: #6F7E79;
$color-grey-6: #474B4F;
$color-grey-7: #393C40;
$color-grey-8: #202224;

// Shadows
$shadow-button: .5rem .5rem 1.5rem 0rem rgba( #000000,.2);
$shadow-pb: 0.5rem 0.7rem 2rem 0rem rgba(#000000, 0.2);


// Sidebar
$color-sb-header: #21252d;
$color-sb-menu: #2b303b;
$color-sb-link: #788195;

// Select 
$color-ms-bg: #1DE9B6;

// Table
$color-head-border-bottom: $color-grey-3;
$border-bottom-head: .1rem solid $color-head-border-bottom;