

$color-primary-0: #1DE9B6;
$color-primary-1: #1DC5E9;
$color-secondary-0: #A389D4;
$color-secondary-0: #899FD4;

$color-danger: #fa2f31;
$color-info: #009ff3;
$color-warning: #f6ba29;


// Greyscale
$color-grey-0: #ffffff;
$color-grey-1: #ECEDEF;
$color-grey-2: #EBEBEB;
$color-grey-3: #C6CACF;
$color-grey-4: #AAAEB3;
$color-grey-5: #6F7E79;
$color-grey-6: #474B4F;
$color-grey-7: #393C40;
$color-grey-8: #202224;
