.accordion {
  display: flex;
  flex-direction: column;

  &__section {
    display: block;
    background: $color-grey-0;
    margin-bottom: 0.5rem;
    &-header {
      padding: 1rem 2rem;
    }

    &-title {
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 400;
      color: $color-grey-6;
      width: 100%;
      display: inline-block;

      a {
        color: inherit;
        position: relative;
        display: block;
        letter-spacing: .1rem;
      }

      a:after {
        content: "\2295";
        font-size: 2.3rem;
        font-family: "Pe-icon-7-stroke";
        display: inline-block;
        position: absolute;
        right: 0.2rem;
        top: -1rem;
      }
    }

    &-content {
      padding: 1rem 2rem;
      display: none;

      &--show {
        display: block;
      }
    }
  }
}
