.btn {
  border: 0rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: $color-grey-0;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 1.5rem 3rem;
  position: relative;
  box-shadow: $shadow-button;
  transition: all 0.3s ease-in-out;
  overflow: visible;
  text-align: center;
  font-weight: 400;

  @include respond(phone) {
    padding: 1.6rem 2rem;
  }

  &:focus,
  &:active {
    outline: none;
  }

  &:hover:enabled {
    &:before {
      opacity: 1;
    }
    transform: translateY(-.1rem);
  }

  &:active {
    transform: translateY(.1rem) !important;
  }

  &:hover {
    background-position: right center;
    color: $color-grey-0;
  }

  &--block {
    width: 100%;
  }

  &--sm {
    padding: 1rem 2rem;
  }

  &--lg {
    padding: 2rem 4rem;
  }

  &--rounded {
    border-radius: 10rem;
  }

  /* Begin Icons */
  & span:not(:first-child) {
    vertical-align: super;
  }

  span:first-child {
    font-size: 2rem;
  }
  /* End Icons */

  &--transparent {
    color: $color-grey-0;
    border: 1px solid $color-grey-0;
    border-radius: 0.3rem;
    background: transparent;
    box-shadow: none;
  }

  &--default {
    color: $color-grey-6;
    background: transparent;

    &:hover {
      color: $color-grey-6;
      background: $color-grey-2;
    }
    

    &:disabled {
      @include gradientBackground(
        lighten($color-grey-0, 30%),
        lighten($color-grey-1, 30%)
      );
      box-shadow: none;
      opacity: 0.5;
    }

    

    &-flat {
      @include gradientBackground($color-grey-0, $color-grey-0);
      box-shadow: none;
      color: $color-grey-5;
      border: 1px solid $color-grey-3;

      &:hover {
        @include gradientBackground(
          lighten($color-grey-0, 20%),
          lighten($color-grey-0, 20%)
        );
        color: inherit;
      }

      &:active {
        &:before {
          @include gradientBackground(
            darken($color-grey-0, 5%),
            darken($color-grey-0, 5%)
          );
        }
      }

      &:disabled {
        @include gradientBackground(
          lighten($color-grey-0, 30%),
          lighten($color-grey-0, 30%)
        );
        opacity: 0.5;
      }
    }
  }

  &--primary {
    background-image: linear-gradient(
      to right,
      $color-primary-0 0%,
      $color-primary-1 51%,
      $color-primary-0 100%
    );
    background-size: 200% auto;

    &:disabled {
      @include gradientBackground(
        lighten($color-primary-0, 30%),
        lighten($color-primary-1, 30%)
      );
      box-shadow: none;
    }

    &-flat {
      @include gradientBackground($color-primary-0, $color-primary-0);

      &:hover {
        @include gradientBackground(
          lighten($color-primary-0, 20%),
          lighten($color-primary-0, 20%)
        );
      }

      &:disabled {
        @include gradientBackground(
          lighten($color-primary-0, 30%),
          lighten($color-primary-0, 30%)
        );
        box-shadow: none;
      }
    }
  }
  &--secondary {
    background-image: linear-gradient(
      to right,
      $color-secondary-0 0%,
      $color-secondary-1 51%,
      $color-secondary-0 100%
    );
    background-size: 200% auto;

    &:disabled {
      @include gradientBackground(
        lighten($color-secondary-0, 15%),
        lighten($color-secondary-1, 15%)
      );
      box-shadow: none;
    }

    &-flat {
      @include gradientBackground($color-secondary-0, $color-secondary-0);

      &:hover {
        @include gradientBackground(
          lighten($color-secondary-0, 20%),
          lighten($color-secondary-0, 20%)
        );
      }

      &:active {
        &:before {
          @include gradientBackground(
            darken($color-secondary-0, 5%),
            darken($color-secondary-0, 5%)
          );
        }
      }

      &:disabled {
        @include gradientBackground(
          lighten($color-secondary-0, 15%),
          lighten($color-secondary-0, 15%)
        );
        box-shadow: none;
      }
    }
  }
  &--danger {
    background-image: linear-gradient(
      to right,
      $color-danger-0 0%,
      $color-danger-1 51%,
      $color-danger-0 100%
    );
    background-size: 200% auto;


    &:disabled {
      @include gradientBackground(
        lighten($color-danger-0, 30%),
        lighten($color-danger-1, 30%)
      );
      box-shadow: none;
    }

    &-flat {
      @include gradientBackground($color-danger-0, $color-danger-0);

      &:hover {
        @include gradientBackground(
          lighten($color-danger-0, 20%),
          lighten($color-danger-0, 20%)
        );
      }

      &:active {
        &:before {
          @include gradientBackground(
            darken($color-danger-0, 5%),
            darken($color-danger-0, 5%)
          );
        }
      }

      &:disabled {
        @include gradientBackground(
          lighten($color-danger-0, 30%),
          lighten($color-danger-0, 30%)
        );
        box-shadow: none;
      }
    }
  }
  &--warning {
    background-image: linear-gradient(
      to right,
      $color-warning-0 0%,
      $color-warning-1 51%,
      $color-warning-0 100%
    );
    background-size: 200% auto;

    &:disabled {
      @include gradientBackground(
        lighten($color-warning-0, 30%),
        lighten($color-warning-1, 30%)
      );
      box-shadow: none;
    }

    &-flat {
      @include gradientBackground($color-warning-0, $color-warning-0);

      &:hover {
        @include gradientBackground(
          lighten($color-warning-0, 20%),
          lighten($color-warning-0, 20%)
        );
      }

      &:active {
        &:before {
          @include gradientBackground(
            darken($color-warning-0, 5%),
            darken($color-warning-0, 5%)
          );
        }
      }

      &:disabled {
        @include gradientBackground(
          lighten($color-warning-0, 30%),
          lighten($color-warning-0, 30%)
        );
        box-shadow: none;
      }
    }
  }
  &--info {
    background-image: linear-gradient(
      to right,
      $color-info-0 0%,
      $color-info-1 51%,
      $color-info-0 100%
    );
    background-size: 200% auto;


    &:disabled {
      @include gradientBackground(
        lighten($color-info-0, 30%),
        lighten($color-info-1, 30%)
      );
      box-shadow: none;
    }


    &-flat {
      @include gradientBackground($color-info-0, $color-info-0);

      &:hover {
        @include gradientBackground(
          lighten($color-info-0, 20%),
          lighten($color-info-0, 20%)
        );
      }

      &:active {
        &:before {
          @include gradientBackground(
            darken($color-info-0, 5%),
            darken($color-info-0, 5%)
          );
        }
      }

      &:disabled {
        @include gradientBackground(
          lighten($color-info-0, 30%),
          lighten($color-info-0, 30%)
        );
        box-shadow: none;
      }
    }
  }
}
