.sidebar {
  width: 280px;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: auto;
  flex-direction: column;
  transform: translate(-21rem);
  transition: all 0.2s ease-in-out;
  z-index: 1000;

  &-toggle {
    display: none;

    &:checked ~ label {
      > span {
        width: 100%;
        background: $color-primary-0;
      }

      &:after,
      &:before {
        width: 100%;
        background: $color-primary-0;
      }
    }
  }

  @include respond(phone) {
    transform: translate(-30rem);
  }

  &:hover {
    transform: translateX(0rem);
  }

  &__header {
    flex-basis: 10%;
    background: $color-sb-header;
    display: flex;
    padding: 2rem 2rem 2rem 3rem;
    justify-content: space-between;
    &-logo {
      height: 100%;
    }

    &-button {
      width: 13%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      cursor: pointer;
      

      &:before {
        content: "";
        display: inline-block;
        height: 0.1rem;
        background: $color-grey-5;
        width: 60%;
        transition: all .3s ease-in-out;
      }

      &:after {
        content: "";
        display: inline-block;
        height: 0.1rem;
        background: $color-grey-5;
        width: 30%;
        transition: all .3s ease-in-out;
      }

      > span {
        content: "";
        display: inline-block;
        height: 0.1rem;
        background: $color-grey-5;
        width: 90%;
        transition: all .3s ease-in-out;
      }

      &:hover > * {
        width: 100%;
      }

      &:hover {
        &:after,
        &:before {
          width: 100%;
        }
      }
    }
  }

  &__menu {
    flex-basis: 90%;
    background: $color-sb-menu;
    overflow-y: auto;
    overflow-x: hidden;

    &-items {
      margin-top: 2rem;

      & li {
        display: flex;
        margin-bottom: 1rem;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      &-link {
        font-size: 1.4rem;
        letter-spacing: 0.01em;
        color: $color-sb-link;
        flex-basis: 100%;
        align-self: center;
        transition: all 0.2s ease-in-out;
        position: relative;
        padding-left: 10%;
        -webkit-font-smoothing: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
          color: $color-grey-0;

          span > i {
            color: $color-grey-0;
          }

          > i {
            color: $color-grey-0;
          }
        }

        .caret {
          font-size: 2rem;
          color: $color-sb-link;
          vertical-align: middle;
          transition: all 0.2s ease-in-out;
        }
      }

      &-link.active > span {
        @include gradientBackground($color-primary-0, $color-primary-1, 45deg);

        i {
          color: $color-grey-0;
        }
      }

      &-link.active {
        color: $color-grey-0;

        ~ ul {
          display: block;
        }

        .caret {
          color: $color-grey-0;
          transform: rotate(-90deg);
        }
      }

      &-icon {
        font-size: 2rem;
        width: 4rem;
        height: 4rem;
        position: relative;
        background: $color-sb-header;

        margin-right: 1.4rem;
        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $color-sb-link;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

  &__sub-menu {
    background: $color-sb-header;
    padding: 2rem 0rem;
    flex-basis: 100%;
    margin-top: 1rem;
    display: none;

    li > a > span {
      background: $color-sb-menu;
      text-align: center;
      font-size: 1.4rem;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
    }
  }
}

.sidebar.visible {
  transform: translateX(0rem);
}

.sidebar.visible ~ .page-container {
  padding-left: 27rem;
}
