*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 35%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  box-sizing: border-box;
  line-height: 1.7;
  background: #F0F3F6;
}

