
.flex-column {
  flex-direction: column;
  display: flex; 
}

.flex-row {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.u-height-small {
  height: 3rem;
}

.u-height-tall {
  height: 5rem;
}

.u-mb-small {
  margin-bottom: 1.5rem !important;
}

.u-mb-medium {
  margin-bottom: 3rem !important;
}

.u-mb-large {
  margin-bottom: 6rem !important;
}
.u-mt-small {
  margin-top: 1.5rem !important;
}

.u-mt-medium {
  margin-top: 3rem !important;
}

.u-mt-large {
  margin-top: 6rem !important;
}

.u-margin-small {
  margin: 1.5rem !important;
}

.u-margin-medium {
  margin: 3rem !important;
}

.u-margin-large {
  margin: 6rem !important;
}

.u-center-text {
  text-align: center !important;
}

.u-left-text {
  text-align: left !important;
}

.u-right-text {
  text-align: right !important;
}

.u-fe {
  justify-content: flex-end;
}

.u-c {
  justify-content: center;
}

.u-st {
  justify-content: flex-start;
}

.u-p-small {
  padding: 2.5rem;
}

.text-black {
  color: $color-grey-8;
}
.text-success {
  color: $color-primary-0;
}
.text-warning {
  color: $color-warning-0;
}
.text-danger {
  color: $color-danger-0;
}
.text-info {
  color: $color-info-0;
}

// Colors
.u-primary-color {
  color: $color-primary-0 !important;
}
.u-secondary-color {
  color: $color-secondary-0 !important;
}
.u-danger-color {
  color: $color-danger-0 !important;
}
.u-warning-color {
  color: $color-warning-0 !important;
}
.u-info-color {
  color: $color-info-0 !important;
}

// BG colors
.u-primary-bg {
  background-color: $color-primary-0 !important;
}
.u-secondary-bg {
  background-color: $color-secondary-0 !important;
}
.u-danger-bg {
  background-color: $color-danger-0 !important;
}
.u-warning-bg {
  background-color: $color-warning-0 !important;
}
.u-info-bg {
  background-color: $color-info-0 !important;
}

// BG Gradients
.u-primary-bg-g {
  background: linear-gradient(-45deg, $color-primary-0, $color-primary-1) !important;
}
.u-secondary-bg-g {
  background: linear-gradient(-45deg, $color-secondary-0, $color-secondary-1) !important;
}
.u-danger-bg-g {
  background: linear-gradient(-45deg, $color-danger-0, $color-danger-1) !important;
}
.u-warning-bg-g {
  background: linear-gradient(-45deg, $color-warning-0, $color-warning-1) !important;
}
.u-info-bg-g {
  background: linear-gradient(-45deg, $color-info-0, $color-info-1) !important;
}

.u-bold {
  font-weight: 800;
}

.u-italic {
  font-style: italic;
}