
.flex-column {
  flex-direction: column;
}

.u-mb-small {
  margin-bottom: 1.5rem !important;
}

.u-mb-medium {
  margin-bottom: 3rem !important;
}

.u-mb-large {
  margin-bottom: 6rem !important;
}

.u-center-text {
  text-align: center;
}

.u-left-text {
  text-align: left !important;
}