
.flex-column {
  flex-direction: column;
}

.u-mb-small {
  margin-bottom: 1.5rem !important;
}

.u-mb-medium {
  margin-bottom: 3rem !important;
}

.u-mb-large {
  margin-bottom: 6rem !important;
}
.u-mt-small {
  margin-top: 1.5rem !important;
}

.u-mt-medium {
  margin-top: 3rem !important;
}

.u-mt-large {
  margin-top: 6rem !important;
}

.u-center-text {
  text-align: center;
}

.u-left-text {
  text-align: left !important;
}

.u-p-small {
  padding: 2.5rem;
}

.text-black {
  color: $color-grey-8;
}
.text-success {
  color: $color-primary-0;
}
.text-warning {
  color: $color-warning-0;
}
.text-danger {
  color: $color-danger-0;
}
.text-info {
  color: $color-info-0;
}

