.page-wrp {
  padding: 3rem;
}

.menu-list a {
  font-size: 1.3rem;
}

.menu-label {
  font-size: 2rem;
}

aside.menu {
  position: fixed;
  max-height: 100vh;
  overflow: scroll;
  padding-bottom: 3rem;

  @include respond(tab-port) {
    position: relative;
  }
}

aside.menu::after {
  content: "";
  display: inline-block;
  width: 0.1rem;
  height: 100%;
  position: absolute;
  right: -1rem;
  top: 0;
  background: radial-gradient($color-grey-4, rgba($color-grey-4, 0) 80%);
}

hr {
  width: 100%;
  height: 0.1rem;
  background: radial-gradient($color-grey-4, rgba($color-grey-4, 0) 80%);
  margin: 4rem 0;
}

.doc {
  padding: 3rem;

  &__list {
    margin: 2rem 0;
    li {
      margin-bottom: 2rem;

      p {
        display: inline;
      }
    }
  }

  &__intro {
    background: rgba($color-info-0, .3);
    padding: 2rem;
    display: flex;
    
    &-vbreak {
      height: auto;
      background: radial-gradient($color-grey-0, rgba($color-grey-0, .0));
      width: .1rem;
      margin: 0 2rem;
    }

    p {

      color: $color-grey-7;
    }

  }

  &__body {
    padding: 3rem;
  }

  &__box {
    margin-top: 2rem;
  }

  p {
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  &__folder-list {
    li:before {
      content: "\e653";
      display: inline-block;
      font-family: "Pe-icon-7-stroke";
      font-size: 3rem;
      vertical-align: middle;
    }

    li {
      span {
        font-size: 1.5rem;
        margin-left: 1rem;
      }
    }

    li.doc__file:before {
      content: "\e656";
    }
  }

  &__subfolder {
    li {
      margin-left: 2rem;
    }
  }
}

.menu-list a.is-active {
  background-color: $color-info-1;
}

.token.tag {
  font-size: 1.5rem !important;
}

.tag:not(body) {
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  color: #4a4a4a;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0;
  padding-right: 0;
  white-space: nowrap;
}

.token.attr-name {
  margin-left: 1rem;
}

.doc__note {
  padding: 2rem;
  background: rgba($color-warning-0, 0.5);
  border: 0.1rem solid $color-warning-1;
}

code,
code.language-markup,
code.language-javascript {
  font-size: 1.5rem;
}

section {
  margin-top: 3rem;
}
