.login {
  display: flex;
  height: 100vh;

  &__bg {
    flex-basis: 60%;
    background: red;
    position: relative;
    background: linear-gradient(
        to top right,
        rgba($color-primary-0, .6),
        rgba($color-primary-1, .6)
      ),
      url("../img/login-bg.jpg");
    background-size: cover;

    @include respond(phone) {
      flex-basis: 0;
      display: none;
    }

    @include respond(tab-port) {
      flex-basis: 0;
      display: none;
    }
  }

  &__text-box {
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    color: $color-grey-0;
  }

  &__content {
    background: $color-grey-0;
    flex-basis: 40%;
    padding: 10rem 8rem;
    display: flex;
    flex-direction: column;
    box-shadow: -0.5rem 0rem 4rem 0.5rem rgba(0, 0, 0, 0.4);
    z-index: 1;

    @include respond(tab-port) {
      flex-basis: 100%;
      padding: 1rem 5rem;
      overflow: hidden;
    }

    @include respond(phone) {
      flex-basis: 100%;
      padding: 10rem 5rem;
    }

    form > * {
      align-self: center;
    }
  }

  &__logo {
    height: 5rem;
    margin-bottom: 2rem;
    position: relative;
    
    svg {
      
      width: 100%;
      margin: auto;
      position: relative;
      margin-left: 50%;
      transform: translateX(-30%);

      @include respond(tab-port) {
        width: 60%;
      }

      @include respond(tab-port) {
        width: 100%;
      }
    }
  }

  h2,
  p {
    text-align: center;
    margin-bottom: 2rem;
  }

  form {
    margin-top: 4rem;

    @include respond(tab-port) {
      margin-top: 0rem;
    }
  }
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill: transparent;
  animation: dash 2s linear forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
